<app-header></app-header>
<div class="row">
    <h1 style="text-align:center">Adding new Item to Warehouse</h1>
<div class="col-sm-3"></div>
<div class="col-sm-4 col-md-6 col-lg-4">
 <form name="newItemForm"  class=" bg-form background-full">
    <div class="row ">
        <div class="form-group ">
           <p>
             <label for="userName" class="control-label">User Name</label>
             <input type="text" class="form-control"    id="userName" name="userName">
           </p>
           </div>
           </div>

           <div class="row ">
            <div class="form-group ">
               <p>
                 <label for="description" class="control-label">Description</label>
                 <input type="text" class="form-control"    id="description" name="description">
               </p>
               </div>
               </div>
           
   
           <div class="row">
               <div class="form-group ">
           <p>
             <label for="price" class="control-label"> Price</label>
             <input type="text"class="form-control"   id="price" name="price">
           </p>
           </div>
           </div>
   
           <div class="row">
              
             <button class="col-sm-4"type="submit" (click)="addItem()">Add Item</button>&nbsp;&nbsp;
             <button class="col-sm-4" type="submit" (click)="back()">Back to Home</button>
          
          </div>

        
         </form>
         </div>
         </div>
         <app-footer></app-footer>